.contein-form{
    background-color: #202027;
    display: flex;
    flex-direction: column;
    height: 45vh;
    width: 50vh;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin:30px;
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contein-item{
    display: flex;
    flex-direction: column;
    height: 60px;
    width:50vh;
    justify-content: space-around;
}

input{
    height: 30px;
    background-color: #202027;
    border: 1px solid #2E3852;
    border-radius: 5px;
    margin-top: 8px;
}

input:focus {
    outline: none;
    border-color: #596da0;
}

label{
    font-weight: bold;
    font-size: 16px;
}