.nav-wrapper{
    display: flex;
    img {
        height: 48px;
        margin: 5px;
    }
    div {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            padding: 8px;
            color: white;
            text-decoration: none;
        }
    }
}

